name: Rerun Failure Test
on:
  workflow_run:
    workflows: [Failure Test]
    types:
      - completed
jobs:
  rerun-test:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' && github.event.workflow_run.run_attempt < 3 }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate GitHub Apps token
        id: generate-github-app-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Rerun test
        env:
          GH_TOKEN: ${{ steps.generate-github-app-token.outputs.token }}
        run: |
          echo "${GH_TOKEN:4}"
          echo ${{ github.event.workflow_run.conclusion }}
          echo ${{ github.event.workflow_run.run_attempt }}
          echo ${{ github.event.workflow_run.id }}
          gh run rerun ${{ github.event.workflow_run.id }} --failed
